.benefits__section {
  margin-left: auto;
  margin-right: auto;

  display: block;
}

.benefits__caption {
  opacity: 0;
  width: 0;
  height: 0;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.benefits__link {
  padding: 20px 24px;
}

.benefits__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  text-align: left;
  width: auto;
}

.benefits__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
}

.benefits__item {
  justify-content: space-between;

  width: 450px;
  height: 404px;

  background: #ffffff;
  border: 1px solid #eeeeee;

  transition: box-shadow 250ms;
  list-style: none;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    cursor: pointer;
    transition: box-shadow 250ms;
  }
  &:nth-child(3n) {
    margin-right: 0;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 440px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 404px;
  }
}
