.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  /* щоб вирівняти весь контент за однією лінією */
  align-items: baseline;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  gap: 70px;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-page__logo {
  color: var(--primary-white-color);
  margin-bottom: 20px;
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: var(--transition);
  }

  @media screen and (max-width: 767px) {
    text-align: center;
    align-items: center;
    margin-right: 0;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
    align-items: center;
    margin-right: 0;
  }
}

.footer__list {
  list-style: none;
  width: 100%;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__link {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.7;

  transition: var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: var(--transition);
  }
}
.footer__nav {
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: var(--transition);
  }
}

.footer__link,
.footer__nav {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer-socials {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  margin-top: 0;
  margin-bottom: 20px;
  text-align: start;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 0;
  }
}

.footer-social__list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  border-radius: 50%;
  gap: 10px;

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.footer-social__item {
  display: flex;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  gap: 10px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-social__icon {
  fill: var(--primary-white-color);

  &:hover,
  &:focus {
    fill: var(--primary-white-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-form {
  display: block;
  margin-top: 60px;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer-form__group {
  display: block;
  width: 100%;

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 12px;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: var(--primary-white-color);

  outline: none;
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;

  padding: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (max-width: 1199px) {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-contacts {
  display: flex;

  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 165px;
  }

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    gap: 70px;
    align-items: baseline;
  }
}
