.form {
  display: block;

  width: 100%;
  padding: 40px;
  height: 100%;
}

.form__title {
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  letter-spacing: 0.03em;

  margin-bottom: 12px;

  color: #212121;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 23px;
  }
}

.form__group {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form__lable {
  margin-bottom: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: #757575;
}

.form__input {
  display: block;
  position: relative;
  width: 370px;
  height: 40px;

  padding-left: 42px;
  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* :focus-visible прибирае */
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 52%;
  left: 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__input:hover + &,
  .form__input:focus + & {
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form__text {
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  @media screen and (min-width: 1200px) {
    width: 448px;
    height: 120px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.checkbox-privacy__group {
  display: flex;
  margin-bottom: 0;

  align-items: center;
  justify-content: center;
  gap: 9px;
}

.checkbox {
  display: block;
  appearance: none;
  position: absolute;

  &:checked + .checkbox__icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/check-agree.svg);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__privacy {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  user-select: none;

  letter-spacing: 0.03em;

  color: #757575;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.privacy__link {
  color: #2196f3;
  text-decoration: underline;
  text-underline-position: under;
}

.form__button {
  display: block;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--primary-white-color);
  padding: 0;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
