.futures__list {
  display: flex;
  gap: 30px;

  list-style: none;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.futures__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;

  margin-right: auto;
  margin-left: auto;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.futures__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;

  padding: 25 100;

  background-color: #f5f4fa;
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.futures__title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    width: 100%;
    display: block;
    text-align: left;
  }
}

.futures__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
