.header {
  position: relative;
  margin: 0;
  height: 60px;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.header__container {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.header__auth {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;

  margin-left: auto;

  margin-left: auto;
  gap: 10px;

  transition: var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);

    transition: var(--transition);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
    align-items: baseline;
  }
}

.header-envelope__icon,
.header-vector__icon {
  top: 3px;
  fill: currentColor;
  justify-content: center;
  align-items: center;

  justify-content: center;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.header-envelope__icon {
  @media screen and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
}

.header-vector__icon {
  @media screen and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
}

.portfolio__header {
  border: 1px solid #ececec;
}

.menu__container {
  display: none;

  @media screen and (min-width: 767px) {
    display: flex;
    gap: 315px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    gap: 96px;
  }
}

.menu__button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  margin: 10px 15px 10px;

  border: 0;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__button .menu_close {
  display: none;
}

.menu__button.is-open .menu_close {
  display: block;
}

.menu__button.is-open .menu_open {
  display: none;
}
