.teem__section {
  background-color: #f5f4fa;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.section-list__team {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  gap: 30px;
}

.teem__item {
  display: block;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin: 0;
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    width: 450px;
    height: 622px;
    img {
      width: 450px;
      height: 460px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 536px;
    img {
      width: 354px;
      height: 374px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 428px;
    img {
      width: 270px;
      height: 260px;
    }
  }
}
.teem__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
}
.teem__text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

.teem__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social__item {
  list-style: none;
}

.socials__link {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover .social__icon,
  &:focus .social__icon {
    fill: var(--primary-white-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.social__icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
