.wwd__section {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.wwd__list {
  display: flex;
  gap: 30px;

  list-style: none;
}

.wwd__item {
  position: relative;
}

.wwd__content {
  padding-top: 27px;
  padding-bottom: 27px;
  /* пропускає подію */
  pointer-events: none;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.wwd__title {
  margin: 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
