.page__logo {
  display: inline-block;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  padding: 0;
  margin-right: 93px;

  transition: var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: var(--transition);
  }

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-right: 88px;
  }
}

.page__logo--accent {
  color: var(--accent-color);
}
